.App {
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Please not use app.css for personal modifictaion in pages or in Componets made a new one or write a inline code */
/* Mind it - @Shubham */
/* Mind it - @Pavit */
/* Mind Sure this Thing Please */